.headerPanel {
    position: absolute;
    top: 9%;
    right: 7%;
    padding: 20px 0px;
    z-index: 999;

    .headerPanel__container {
        display: flex;
        justify-content: space-between;
    }

    .headerPanelRight {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .selectCountries {
        display: flex;
        align-items: center;
        gap: 12px;
    }

}